### OSX ###
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

### Django ###
*.log
*.pot
*.pyc
__pycache__/

## Configuration and temporary DB ##
#.env
*.sqlite3

## Editors ##
# VS Code
.vscode/

# Eclipse IDE
.pydevproject
.project
.settings/

# Intelij idea files
.idea

## Fabutils ##
#  Directories created from refresh_db look like <user>@<server>
*@*/

## Frontend directory ##
# You might want to put your frontend directory path here

## Backup files ##
*.backup
*.dump
*.db

# Media
media/

# Frontend
calaris-frontend/

# Celery
celerybeat.pid

# Test build frontend
!tests_build_frontend/*
!tests_build_frontend/build/*

# Resources
/resources/
/screenshots

venv
*.pyc
db.sqlite3
