{% extends 'email/base.html' %}
{% load i18n %}

{% block title %}
  Cambio de contraseña
{% endblock title %}
{% block content %}
  <p>Estimado {{ user.first_name }} {{ user.last_name }}, </p>
  <p>
    Por favor haga click en el siguiente botón para cambiar su contraseña
  </p>
  <div class="button-section">
    <a href="{{ link }}">
      <button style="cursor: pointer; width: 226px" class="cursor-pointer">
        {% trans 'Cambiar contraseña' %}
      </button>
    </a>
  </div>
{% endblock %}